body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* Creator */

.songlist_creator--container{
  position: relative;
  margin: auto;
  width: 60%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:100px;
}

/* Voters */

.voter_page--tracklist_container{
  background-color: aliceblue;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.track--cell{
  border: 1px black solid;
  width: 20%;
}

/* Loader */

.loader--dots {
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
  text-align: center;
}
.loader--dots span {
  display: inline-block;
  animation: pulse 0.6s alternate infinite ease-in-out;
}
.loader--dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader--dots span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes pulse {
  to {
    transform: scale(0.6);
    opacity: 0.5;
  }
}

.loader--no_commander{
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  font-size: 7vh;
  opacity: 0.8;
  text-align: center;
}

.loader--container{
  padding-top: 15%;
}

.loader--info{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 7vh;
  opacity: 0.8;
}
