body
  font-family: sans-serif
  background-color: #315481
  background-image: linear-gradient(to bottom, #315481, #918e82 100%)
  background-attachment: fixed
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 0
  margin: 0
  font-size: 14px

// Creator

.playlists_index--container
  margin: auto
  width: 60%
  text-align: center
  padding-top: 40px

  .playlists_index--form_part
    padding: 10px

  .playlists_index--playlist_index p span
    cursor: pointer
    font-size: 1.2em
    font-weight: 900
    text-decoration: underline

.playlist_manager--container
  position: relative

  .playlist_manager--spotify_header
    width: 80%
    margin: auto
    text-align: center
    padding-bottom: 25px
    padding-top: 10px
    .playlist_manager--playlist_link
      padding-bottom: 15px

  .playlist_manager--poll
    text-align: center
    margin: auto

  .playlist_manager--songlist_container
    width: 70%
    margin: 10px auto
    text-align: center
    padding: 10px
    .playlist_manager--songlist_container_title
      font-weight: 900
    .playlist_manager--songlist_export
      float: right
    .playlist_manager--songlist_container_songlist
      height: 150px
      overflow-y: scroll
      border: 4px solid black
      .playlist_manager--songlist_track
        position: relative
        width: 90%
        margin: auto
        .playlist_manager--songlist_track_name
          width: 100%
          overflow-x: hidden
          white-space: nowrap
        .playlist_manager--songlist_track_delete
          font-weight: 900
          position: absolute
          right: -15px

  .playlist_manager--track_added_notice
    position: fixed
    left: 50%
    top: 20%
    transform: translateX(-50%)
    padding: 18px
    border: 2px solid black
    border-radius: 14px
    font-size: 1.4em

  .playlist_manager--close_songlist
    position: absolute
    top: 0%
    right: 0%
    font-size: 40px
    cursor: pointer

// Tracklist

.tracklist--tracklist_container
  width: 100%
  margin: auto
  display: flex
  flex-wrap: wrap

  .tracklist--track_cell
    background-image: linear-gradient(to bottom, #918e82, #315481 100%)
    border: 1px black solid
    border-radius: 10px
    width: 24%
    height: 80px
    box-sizing: border-box
    margin: 0.5%
    display: flex
    flex-direction: column
    justify-content: space-around

    div
      overflow-x: hidden
      color: white

    .tracklist--track_title
      font-weight: 800

    .tracklist--track_duration
      font-size: 0.8em

    .tracklist--track_artist

    .tracklist--track_votes

// Voter

.voter--voter_container
  .tracklist--track_cell
    width: 100%
    height: 25%
    text-align: center
    margin: 0.5% 10%

  .voter--voter_clock
    position: fixed
    top: 0px
    right: 0px
    font-weight: 800

// Loader

.loader--dots
  color: #fff
  font-family: monospace
  font-weight: bold
  font-size: 30vh
  opacity: 0.8
  text-align: center
.loader--dots span
  display: inline-block
  animation: pulse 0.6s alternate infinite ease-in-out
.loader--dots span:nth-child(2)
  animation-delay: 0.2s
.loader--dots span:nth-child(3)
  animation-delay: 0.4s
@keyframes pulse
  to
    transform: scale(0.6)
    opacity: 0.5

.loader--no_commander
  color: #fff
  font-family: monospace
  font-weight: bold
  font-size: 7vh
  opacity: 0.8
  text-align: center

.loader--container
  padding-top: 15%

.loader--info
  position: absolute
  top: 0px
  right: 0px
  color: #fff
  font-weight: bold
  font-size: 7vh
  opacity: 0.8

// React Animations

.fadeInFadeOut-enter
  opacity: 0.01
  transition: opacity 0.3s ease-in

.fadeInFadeOut-enter.fadeInFadeOut-enter-active
  opacity: 1

.fadeInFadeOut-leave
  opacity: 1
  transition: opacity 0.3s ease-in

.fadeInFadeOut-leave.fadeInFadeOut-leave-active
  opacity: 0.01
